[include]
  path = ~/.gitconfig.local

[pretty]
  pink = "%C(#666666)%h%Creset %s %C(#ff69b4)%an%Creset%C(yellow)%d%Creset %C(#666666)%cr%C(reset)"

[alias]
  undo = reset --soft HEAD^
[core]
	excludesfile = /Users/vpryim/.config/git/ignore
